{% extends 'index.html' %}

{% block titulo %} Lista de Autores {% endblock titulo %}

{% block body %} 

<div class="card">
    <div class="card-header">        
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Autores</strong>
            </div>    
            <div class="col-md-4">
                <button class="btn btn-success" type="button" onclick="abrir_modal_creacion('{% url 'libro:crear_autor' %}')">Registrar Autor</button>        
            </div>
        </div>
    </div>

    {% if autores %} <!-- 'object_list' desaparece porque ya no es LIstView sino View -->
    <div class="table-stats order-table ov-h">

        <table class="table">    
            <thead>
                <tr>
                    <th>Id Autor</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>País</th>
                    <th>Descripción</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            
            <tbody>
                {% for autor in autores %}
                <tr>
                    <td>{{ autor.id}}</td>
                    <td>{{ autor.nombre}}</td>
                    <td>{{ autor.apellido}}</td>
                    <td>{{ autor.pais}}</td>
                    <td>{{ autor.descripcion}}</td>
                    <td>
                        <button onclick="abrir_modal_edicion('{% url 'libro:editar_autor' autor.id %}')" class="btn btn-primary">Editar</button>
                        <button onclick="abrir_modal_eliminacion('{% url 'libro:eliminar_autor' autor.id %}')" class="btn btn-danger">Eliminar</button>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

{% else %}

<h1>No existen autores registrados o autores con el id proporcionado</h1>

{% endif %}

<div class="modal fade" id="creacion" role="dialog"><!-- Modales -->

</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminacion" role="dialog">

</div>

{% endblock body %}


{% block extrajs %}
{% endblock extrajs %}


   
    
