<!-- Template para todo el HTML del modal de EDICIÖN-->

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Edición de Libro: {{ object }}</h2>
            <button class="close" type="button" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- 'object' viene ya definido del método get_object(), que se ejecuta automáticamente en UpdateView -->
        <form id="form_edicion"  action="{% url 'libro:editar_libro' object.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div id="erroresEdicion">
                
                </div>
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button> <!-- onclick="cerrar_modal_edicion(); -->
                <button id="boton_creacion" class="btn btn-primary" type="submit">Confirmar</button>  <!-- onclick="editar(); -->
            </div>
        </form>        
    </div>
</div>
